body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#setup-container, #quiz-container, #result-container {
  margin: 20px;
}

input[type="number"], button {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px;
}

#setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#setup-container label {
  font-size: 1.2em;
}

#setup-container select, 
#setup-container input {
  font-size: 1em;
  padding: 5px;
  margin-bottom: 10px;
}

#question-container {
  margin: 20px 0; /* Adds space around the question container */
}

#question-number {
  font-size: 1.2em; /* Smaller font size for question number */
  margin-bottom: 10px; /* Adds space between question number and question text */
}

#question {
  font-size: 1.8em; /* Larger font size for question text */
  line-height: 1.5; /* Improves line spacing */
  text-align: center; /* Centers the question text */
}

input[type="number"] {
  font-size: 1.2em;
  padding: 10px;
  width: calc(100% - 22px); /* Full width minus padding */
  box-sizing: border-box;
}

button {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#final-message {
  font-size: 2em;
  color: gold;
}

@media (max-width: 600px) {
  #question {
    font-size: 1.5em;
  }

  #question-number {
    font-size: 1em;
  }

  input[type="number"], button {
    font-size: 1em;
    padding: 8px;
  }

  #setup-container select,
  #setup-container input {
    font-size: 0.9em;
  }
}